:root {
    --bg-dark: hsl(0 0% 10%);
    --bg: hsl(0 0% 15%);
    --bg-light: hsl(0 0% 25%);
    --border: hsl(0 0% 30%);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg) 80%, var(--bg-light));
    --highlight: hsl(0 0% 60%);
    --border-card: solid 1px var(--border);
    --radius: 1rem;
    --shadow:
        inset 0 1px 2px #ffffff50,
        0 2px 4px #00000030,
        0 4px 8px #00000015;

    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --text-dark: hsl(0 0% 5%);

    --primary: hsl(121, 74%, 43%);
    --primary-light: hsl(121, 74%, 53%);
    --primary-lightest: hsl(121, 74%, 63%);
    --primary-dark: hsl(121, 74%, 23%);
    --primary-darkest: hsl(121, 74%, 13%);

    --accent: hsl(200, 85%, 38%);
    --accent-light: hsl(200, 85%, 58%);
    --accent-dark: hsl(200, 85%, 28%);
}

[data-theme="light"] {
    --bg-dark: hsl(0 0% 85%);
    --bg: hsl(0 0% 90%);
    --bg-light: hsl(0 0% 95%);

    --highlight: hsl(0 0% 100%);
    --border-card: solid 1px var(--bg);

    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);

}

.theme-transition,
.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
    transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}

#theme-toggle-button {
    position: relative;
    width: 60px;
    height: 32px;
    background-color: var(--bg-light);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px;
    border: 1px solid var(--border-card);
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
}

#theme-toggle-button img {
    width: 20px;
    height: 20px;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.theme-toggle-thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
    background: var(--primary);
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), background-color 0.4s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

[data-theme="light"] .theme-toggle-thumb {
    transform: translateX(26px);
}

#theme-toggle-button:hover .theme-toggle-thumb {
    background: var(--primary-light);
}

body {
    font-family: 'Google Sans', sans-serif;
    background-color: var(--bg-dark) !important;
    color: var(--text-muted);

    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p {
    color: var(--text-muted);
    text-align: justify;
    margin: 0;
}

h1,
h2 {
    color: var(--text);
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.page-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    padding: 0.75rem;
    border-radius: var(--radius);

    box-shadow: var(--shadow);
    border: none;
    border-top: solid 1px var(--highlight);
    font-size: 1rem;
}

.btn-primary {
    background-color: var(--primary-lightest);
    border: 1px solid var(--primary);
    color: var(--primary-darkest);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}

.btn-primary:hover {
    background-color: var(--primary-light) !important;
}

.nav-bar {
    background: var(--gradient);
    box-shadow: var(--shadow);
    border: var(--border-card);
    border-top: solid 1px var(--highlight);

    padding: 0.5rem 1rem;
    border-radius: var(--radius);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-group {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-bar #theme-toggle-button {
    margin: 0;
}

.nav-bar .nav-item {
    padding: 10px 16px;
    text-decoration: none;
    color: inherit;

    border-bottom: solid 2px transparent;
    border-radius: var(--radius);

    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.nav-bar .nav-item.active {
    color: var(--primary);
    background-color: var(--bg-light);
    border-bottom: 3px solid var(--primary);
}

.nav-bar .nav-item:hover:not(.active) {
    background-color: var(--bg-light);
    transform: translateY(-2px);
    color: var(--primary-light);
}

.card {
    /* background: var(--gradient); */
    background-color: var(--bg);
    box-shadow: var(--shadow);
    border: var(--border-card);
    border-top: solid 1px var(--highlight);

    padding: 2rem;
    cursor: pointer;
    border-radius: var(--radius);

    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: background-color 0.2s ease, transform 0.2s ease-in-out;

}

.card:hover {
    background-color: var(--bg-light);
    /* background: var(--gradient-hover); */
    transform: translateY(-5px);
}

.card:hover p {
    color: var(--text);

}

.card p,
.card h1,
.card h2 {
    margin: 0;
    text-align: justify;
    transition: color 0.2s ease-in-out;
}