:root {
    --dot-highlight-color: var(--primary);
    --dot-highlight-size: 150px;
}

[data-theme="light"] {
    --dot-highlight-color: var(--primary-darker);
}

/* capa superior de puntos brillantes */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -2;

    background-image: radial-gradient(var(--dot-highlight-color) 1px, transparent 1px);
    background-size: 35px 35px;

    -webkit-mask-image: radial-gradient(150px circle at var(--x, 50%) var(--y, 50%),
            black 20%,
            transparent 100%);
    mask-image: radial-gradient(150px circle at var(--x, 50%) var(--y, 50%),
            black 20%,
            transparent 100%);
}

[data-theme="light"] body::before {
    background-image: radial-gradient(var(--dot-highlight-color) 1px, transparent 1px);
    background-size: var(--dot-size) var(--dot-size);
}

.spotlight-glow {
    position: absolute;
    inset: 0;
    z-index: -1;
    /* Sobre todos los puntos, pero bajo el texto */
    pointer-events: none;
    /* Crucial para que el mouse atraviese */

    /* Gradiente radial simple de color de brillo -> transparente */
    background: radial-gradient(var(--glow-radius) circle at var(--x, 50%) var(--y, 50%),
            var(--glow-color),
            transparent 80%
            /* 80% permite un borde difuminado suave */
        );
}

.home-container {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 80%;
}

.home-container h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    font-weight: 800;
}

.home-container p {
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6;
}

[data-theme="dark"] .gradient-text {
    background: linear-gradient(90deg, var(--primary-light), var(--primary-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-size: 100% 100%;
    display: inline-block;
}

[data-theme="light"] .gradient-text {
    background: linear-gradient(90deg, var(--primary), var(--primary-darkest));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-size: 100% 100%;
    display: inline-block;
}

.work-in-progress {
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

[data-theme="dark"] .work-in-progress {
    color: var(--primary-dark);
}

[data-theme="light"] .work-in-progress {
    color: var(--primary);
}

.work-in-progress::before {
    content: "{ ";
    color: var(--primary-dark);
}

.work-in-progress::after {
    content: " }";
    color: var(--primary-dark);
}